[Desktop Entry]
Version=1.0
Type=Application
Exec=/usr/bin/sel %u
Icon=/usr/share/icons/koompi/koompi.svg
StartupNotify=true
Terminal=false
Categories=Utility;
MimeType=x-scheme-handler/ezk
Name=Sel
Comment=Launch Sel